<% unless current_user == @user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= button_to "フォロー解除", 
                    relationship_path(current_user.active_relationships.find_by(followed_id: @user.id)),
                    method: :delete,
                    class: "btn" %>
    <% else %>
      <%= button_to "フォローする",
                    relationships_path,
                    params: { relationship: { followed_id: @user.id } },
                    method: :post,
                    class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
