<li class="user">
  <% if user.profile_image.attached? %>
    <%= image_tag user.profile_image, alt: user.name, size: "50x50", class: "user-avatar" %>
  <% else %>
    <div class="default-avatar-small">画像なし</div>
  <% end %>
  <div class="user-info">
    <h4><%= link_to user.name, user, class: "user-name" %></h4>
    <p class="user-posts-count">投稿数: <%= user.posts.count %></p>
    <% unless current_user == user %>
      <% if defined?(@title) && @title == "フォロワー" %>
        <div class="follow-status">
          <% if current_user.following?(user) %>
            <span class="following-indicator">フォロー中</span>
          <% else %>
            <span class="not-following-indicator">未フォロー</span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</li>
