<p><%= @resource.email %> さん、こんにちは！</p>

<p>パスワードの変更がリクエストされました。以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに心当たりがない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
