<p><%= @resource.email %> さん、こんにちは！</p>

<p>ログインの失敗が繰り返されたため、アカウントがロックされました。</p>

<p>以下のリンクをクリックしてアカウントのロックを解除してください：</p>

<p><%= link_to 'アカウントのロックを解除', unlock_url(@resource, unlock_token: @token) %></p>
